body {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: none repeat scroll 0 0 #F3F3F3;
    overflow-x: hidden;
    overflow-y: auto;
}

div.wrap {
    bottom: 50px;
}

ul, ol {
    margin: 0px;
}

a {
    color: #266AAE;
}

a:hover {
    text-decoration: none;
}
label{
    color:#666;
    padding-left:0px 6px;
}

label {
    font-size: 12px;
}

span.line {
    color: #aaaaaa;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    padding: 0px 2px;
}

/*-------------自定义多图上传-------------*/
fieldset.img_list {
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    padding: 10px;
    margin-bottom: 8px;
}

fieldset.img_list legend {
    background-color: #F9F9F9;
    border: 1px solid #D8D8D8;
    font-weight: 700;
    padding: 3px 8px;
}

div.picList ul li {
    margin-bottom: 5px;
    float:left;
    margin:10px;
}
div.picList ul li div.img{
    position: relative;
}
div.picList ul li div.img a{
    position: absolute;
    top:6px;
    right:6px;
    width:20px;
    height:20px;
    text-align: center;
    font-size: 14px;
    background: #006DCC;
    color:#fff;
    border: solid 1px #999;
}
div.picList ul li div.img a:hover{
    background: #03565E;
}
/*-------------自定义多图上传-------------*/


















